<?xml version="1.0" encoding="UTF-8"?>
<container type="CT1" id ="PNLMVP">
	<modulelist>		
		
		<module
			name="Rules Component"
			id="ruleComponent"
			version="1.0"
			provider-name="Oxyent"
			class="com.oxymedical.component.rulesComponent.RuleComponent">
	
	 		<requires>
			<import module="org.eclipse.core.resources"/>
			<import module="org.eclipse.ui"/>
		    </requires>
	
		    <runtime>
			<library name="testworld.jar"/>	
		    </runtime>
	
		    <maintenance>
		    </maintenance>
		</module>		
		<module
			name="Rendering Component"
			id="id.rendering"
			version="1.0"
			provider-name="Oxyent"
			class="com.oxymedical.component.renderer.RendererComponent">
	
	 		<requires>
			<import module="org.eclipse.core.resources"/>
			<import module="org.eclipse.ui"/>
		    </requires>
	
		    <runtime>
			<library name="testworld.jar"/>	
		    </runtime>
	
		    <maintenance>
		     </maintenance>
		</module>	
		
		<module
			name="Database Component"
			id="dbComponent"
			version="1.0"
			provider-name="Oxyent"
			class="com.oxymedical.component.db.DBComponent">
	
	 		<requires>
			<import module="org.eclipse.core.resources"/>
			<import module="org.eclipse.ui"/>
		    </requires>
	
		    <runtime>
			<library name="testworld.jar"/>	
		    </runtime>
	
		    <maintenance>
		    </maintenance>
		</module>		
	</modulelist>
</container>
