 .AddTool{
font-family:Microsoft Sans Serif;
font-style:normal;
padding-top:8px;
margin-right:0px;
margin-top:0px;
background-color:Transparent;
font-size:8pt;
padding-left:8px;
position:absolute;
padding-bottom:8px;
padding-right:8px;
margin-left:0px;
margin-bottom:0px;
color:#000000;
background-position:tile;
}
  .frame2581{
font-family:Microsoft Sans Serif;
font-style:normal;
padding-top:0px;
margin-right:0px;
margin-top:0px;
background-color:#FFFFFF;
left:0px;
font-size:8pt;
padding-left:0px;
position:absolute;
padding-bottom:0px;
padding-right:0px;
margin-left:0px;
margin-bottom:0px;
color:#000000;
background-position:tile;
top:-1px;
}
   .frame2582{
font-family:Microsoft Sans Serif;
font-style:normal;
padding-top:0px;
margin-right:0px;
margin-top:0px;
background-color:#FFFFFF;
font-size:8pt;
padding-left:0px;
position:relative;
padding-bottom:0px;
padding-right:0px;
margin-left:0px;
margin-bottom:0px;
color:#000000;
background-position:tile;
}
   .placeholder74{
font-style:normal;
padding-top:0px;
margin-right:0px;
margin-top:0px;
font-family:Microsoft Sans Serif;
background-color:#FFFFFF;
left:0px;
font-size:8pt;
padding-left:0px;
position:absolute;
padding-bottom:0px;
padding-right:0px;
margin-left:0px;
margin-bottom:0px;
color:#000000;
background-position:tile;
top:0px;
}
    .frame2583{
font-family:Microsoft Sans Serif;
font-style:normal;
padding-top:0px;
margin-right:0px;
margin-top:0px;
background-color:#FFFFFF;
left:176px;
font-size:8pt;
padding-left:0px;
position:absolute;
padding-bottom:0px;
padding-right:0px;
margin-left:0px;
margin-bottom:0px;
color:#000000;
background-position:tile;
top:0px;
}
   .multitab9{
top:9px;
background-color:Transparent;
margin-top:0px;
font-family:Microsoft Sans Serif;
font-style:normal;
padding-right:0px;
padding-left:0px;
padding-top:0px;
color:#000000;
font-size:8pt;
margin-bottom:0px;
position:absolute;
background-position:tile;
margin-right:0px;
margin-left:0px;
padding-bottom:0px;
left:19px;
}
   .tabpage25{
top:22px;
background-color:#D8E4F8;
margin-top:0px;
font-family:Microsoft Sans Serif;
font-weight:bold;
padding-right:0px;
padding-left:0px;
padding-top:0px;
font-size:9pt;
margin-bottom:0px;
position:absolute;
background-position:tile;
margin-right:0px;
margin-left:0px;
padding-bottom:0px;
color:#316AC5;
left:4px;
}
  .label366{
font-family:Microsoft Sans Serif;
font-weight:bold;
padding-top:0px;
margin-right:0px;
margin-top:0px;
background-color:Transparent;
left:0px;
font-size:11.25pt;
padding-left:0px;
position:absolute;
padding-bottom:0px;
padding-right:0px;
margin-left:0px;
margin-bottom:0px;
color:#000000;
text-align:left;
background-position:tile;
top:55px;
}
   .label367{
font-family:Microsoft Sans Serif;
font-weight:bold;
padding-top:0px;
margin-right:0px;
margin-top:0px;
background-color:Transparent;
left:0px;
font-size:11.25pt;
padding-left:0px;
position:absolute;
padding-bottom:0px;
padding-right:0px;
margin-left:0px;
margin-bottom:0px;
color:#000000;
text-align:left;
background-position:tile;
top:150px;
}
   .label368{
font-family:Microsoft Sans Serif;
font-weight:bold;
padding-top:0px;
margin-right:0px;
margin-top:0px;
background-color:Transparent;
left:0px;
font-size:11.25pt;
padding-left:0px;
position:absolute;
padding-bottom:0px;
padding-right:0px;
margin-left:0px;
margin-bottom:0px;
color:#000000;
text-align:left;
background-position:tile;
top:212px;
}
   .textbox208{
font-family:Microsoft Sans Serif;
font-style:normal;
padding-top:0px;
margin-right:0px;
margin-top:0px;
left:139px;
font-size:8.25pt;
padding-left:0px;
position:absolute;
padding-bottom:0px;
padding-right:0px;
margin-left:0px;
margin-bottom:0px;
color:#000000;
background-position:tile;
top:55px;
}
   .textbox209{
font-family:Microsoft Sans Serif;
font-style:normal;
padding-top:0px;
margin-right:0px;
margin-top:0px;
left:140px;
font-size:8.25pt;
padding-left:0px;
position:absolute;
padding-bottom:0px;
padding-right:0px;
margin-left:0px;
margin-bottom:0px;
color:#000000;
background-position:tile;
top:150px;
}
   .textbox210{
font-family:Microsoft Sans Serif;
font-style:normal;
padding-top:0px;
margin-right:0px;
margin-top:0px;
left:140px;
font-size:8.25pt;
padding-left:0px;
position:absolute;
padding-bottom:0px;
padding-right:0px;
margin-left:0px;
margin-bottom:0px;
color:#000000;
background-position:tile;
top:212px;
}
   .button229{
font-family:Microsoft Sans Serif;
font-weight:bold;
padding-top:0px;
margin-right:0px;
margin-top:0px;
background-color:Transparent;
left:117px;
font-size:9pt;
padding-left:0px;
position:absolute;
padding-bottom:0px;
border:1;
padding-right:0px;
margin-left:0px;
margin-bottom:0px;
color:#316AC5;
background-position:tile;
top:415px;
}
   .button230{
font-family:Microsoft Sans Serif;
font-weight:bold;
padding-top:0px;
margin-right:0px;
margin-top:0px;
background-color:Transparent;
left:262px;
font-size:9pt;
padding-left:0px;
position:absolute;
padding-bottom:0px;
border:1;
padding-right:0px;
margin-left:0px;
margin-bottom:0px;
color:#316AC5;
background-position:tile;
top:415px;
}
   .label387{
font-family:Microsoft Sans Serif;
font-weight:bold;
padding-top:0px;
margin-right:0px;
margin-top:0px;
background-color:Transparent;
left:0px;
font-size:11.25pt;
padding-left:0px;
position:absolute;
padding-bottom:0px;
padding-right:0px;
margin-left:0px;
margin-bottom:0px;
color:#000000;
text-align:left;
background-position:tile;
top:265px;
}
   .textbox214{
font-family:Microsoft Sans Serif;
font-style:normal;
padding-top:0px;
margin-right:0px;
margin-top:0px;
left:139px;
font-size:8.25pt;
padding-left:0px;
position:absolute;
padding-bottom:0px;
padding-right:0px;
margin-left:0px;
margin-bottom:0px;
color:#000000;
background-position:tile;
top:265px;
}
   .textbox218{
font-family:Microsoft Sans Serif;
font-style:normal;
padding-top:0px;
margin-right:0px;
margin-top:0px;
left:26px;
font-size:8.25pt;
padding-left:0px;
position:absolute;
padding-bottom:0px;
padding-right:0px;
margin-left:0px;
margin-bottom:0px;
color:#000000;
background-position:tile;
top:551px;
}
   .label388{
font-family:Microsoft Sans Serif;
font-weight:bold;
padding-top:0px;
margin-right:0px;
margin-top:0px;
background-color:Transparent;
left:3px;
font-size:11.25pt;
padding-left:0px;
position:absolute;
padding-bottom:0px;
padding-right:0px;
margin-left:0px;
margin-bottom:0px;
color:#000000;
text-align:left;
background-position:tile;
top:332px;
}
   .combobox43{
font-family:Microsoft Sans Serif;
font-style:normal;
padding-top:0px;
margin-right:0px;
margin-top:0px;
background-color:#FFFFFF;
left:146px;
font-size:8.25pt;
padding-left:0px;
position:absolute;
padding-bottom:0px;
padding-right:0px;
margin-left:0px;
margin-bottom:0px;
color:#000000;
background-position:tile;
top:331px;
}
   .button221{
font-family:Microsoft Sans Serif;
font-style:normal;
padding-top:0px;
margin-right:0px;
margin-top:0px;
background-color:#D8E4F8;
left:381px;
font-size:8.25pt;
padding-left:0px;
position:absolute;
padding-bottom:0px;
border:1;
padding-right:0px;
margin-left:0px;
margin-bottom:0px;
color:#316AC5;
background-position:tile;
top:327px;
}
   .label407{
font-family:Microsoft Sans Serif;
font-weight:bold;
padding-top:0px;
margin-right:0px;
margin-top:0px;
background-color:Transparent;
left:0px;
font-size:11.25pt;
padding-left:0px;
position:absolute;
padding-bottom:0px;
padding-right:0px;
margin-left:0px;
margin-bottom:0px;
color:#000000;
text-align:left;
background-position:tile;
top:105px;
}
   .toolinputxmltextbox{
font-family:Microsoft Sans Serif;
font-style:normal;
padding-top:0px;
margin-right:0px;
margin-top:0px;
left:140px;
font-size:8.25pt;
padding-left:0px;
position:absolute;
padding-bottom:0px;
padding-right:0px;
margin-left:0px;
margin-bottom:0px;
color:#000000;
background-position:tile;
top:105px;
}
   .checkbox5{
font-weight:bold;
padding-top:0px;
margin-right:0px;
margin-top:0px;
font-family:Microsoft Sans Serif;
background-color:#D8E4F8;
left:408px;
font-size:9pt;
padding-left:0px;
position:absolute;
padding-bottom:0px;
padding-right:0px;
margin-left:0px;
margin-bottom:0px;
color:#316AC5;
background-position:tile;
top:9px;
}
   .frame2584{
font-family:Microsoft Sans Serif;
font-style:normal;
padding-top:0px;
margin-right:0px;
margin-top:0px;
background-color:#FFFFFF;
left:750px;
font-size:8pt;
padding-left:0px;
position:absolute;
padding-bottom:0px;
padding-right:0px;
margin-left:5px;
margin-bottom:0px;
color:#000000;
background-position:tile;
top:0px;
}
   .frame2585{
font-family:Microsoft Sans Serif;
font-style:normal;
padding-top:0px;
margin-right:0px;
margin-top:0px;
background-color:#FFFFFF;
font-size:8pt;
padding-left:0px;
position:relative;
padding-bottom:0px;
padding-right:0px;
margin-left:5px;
margin-bottom:0px;
color:#000000;
background-position:tile;
}
   .placeholder75{
font-style:normal;
padding-top:0px;
margin-right:0px;
margin-top:0px;
font-family:Microsoft Sans Serif;
background-color:#FFFFFF;
font-size:8pt;
padding-left:0px;
position:relative;
padding-bottom:0px;
padding-right:0px;
margin-left:0px;
margin-bottom:0px;
color:#000000;
background-position:tile;
}
    .placeholder76{
font-style:normal;
padding-top:0px;
margin-right:0px;
margin-top:0px;
font-family:Microsoft Sans Serif;
background-color:#FFFFFF;
font-size:8pt;
padding-left:0px;
position:relative;
padding-bottom:0px;
padding-right:0px;
margin-left:0px;
margin-bottom:0px;
color:#000000;
background-position:tile;
}
    .button2588{
font-family:Microsoft Sans Serif;
font-weight:bold;
padding-top:0px;
margin-right:0px;
margin-top:0px;
background-color:#FFFFFF;
left:0px;
font-size:8.25pt;
padding-left:0px;
position:absolute;
padding-bottom:0px;
border:1;
padding-right:0px;
margin-left:0px;
margin-bottom:0px;
color:#316AC5;
background-position:tile;
top:730px;
}
  
