 .InfoPatient{
font-family:Microsoft Sans Serif;
font-style:normal;
padding-top:0px;
margin-right:0px;
margin-top:0px;
background-color:#FFFFFF;
font-size:8pt;
padding-left:0px;
position:absolute;
padding-bottom:0px;
padding-right:0px;
margin-left:0px;
margin-bottom:0px;
color:#000000;
background-position:tile;
}
  .label382{
font-family:Microsoft Sans Serif;
font-weight:bold;
padding-top:0px;
margin-right:0px;
margin-top:0px;
background-color:#FFFFFF;
left:1px;
font-size:8.25pt;
padding-left:0px;
position:absolute;
padding-bottom:0px;
padding-right:0px;
margin-left:0px;
margin-bottom:0px;
color:#316AC5;
text-align:left;
background-position:tile;
top:5px;
}
   .label383{
font-family:Microsoft Sans Serif;
font-weight:bold;
padding-top:0px;
margin-right:0px;
margin-top:0px;
background-color:#FFFFFF;
left:1px;
font-size:8.25pt;
padding-left:0px;
position:absolute;
padding-bottom:0px;
padding-right:0px;
margin-left:0px;
margin-bottom:0px;
color:#316AC5;
text-align:left;
background-position:tile;
top:30px;
}
   .label384{
font-family:Microsoft Sans Serif;
font-weight:bold;
padding-top:0px;
margin-right:0px;
margin-top:0px;
background-color:#FFFFFF;
left:1px;
font-size:8.25pt;
padding-left:0px;
position:absolute;
padding-bottom:0px;
padding-right:0px;
margin-left:0px;
margin-bottom:0px;
color:#316AC5;
text-align:left;
background-position:tile;
top:55px;
}
   .textbox211{
font-family:Microsoft Sans Serif;
font-style:normal;
padding-top:0px;
margin-right:0px;
margin-top:0px;
left:78px;
font-size:8.25pt;
padding-left:0px;
position:absolute;
padding-bottom:0px;
padding-right:0px;
margin-left:0px;
margin-bottom:0px;
color:#000000;
background-position:tile;
top:4px;
}
   .textbox212{
font-family:Microsoft Sans Serif;
font-style:normal;
padding-top:0px;
margin-right:0px;
margin-top:0px;
left:78px;
font-size:8.25pt;
padding-left:0px;
position:absolute;
padding-bottom:0px;
padding-right:0px;
margin-left:0px;
margin-bottom:0px;
color:#000000;
background-position:tile;
top:29px;
}
   .textbox213{
font-family:Microsoft Sans Serif;
font-style:normal;
padding-top:0px;
margin-right:0px;
margin-top:0px;
left:78px;
font-size:8.25pt;
padding-left:0px;
position:absolute;
padding-bottom:0px;
padding-right:0px;
margin-left:0px;
margin-bottom:0px;
color:#000000;
background-position:tile;
top:54px;
}
  
