 .ListOfToolsNew{
font-family:Microsoft Sans Serif;
font-style:normal;
padding-top:8px;
margin-right:0px;
margin-top:0px;
background-color:#FFFFFF;
font-size:8pt;
padding-left:8px;
position:absolute;
padding-bottom:8px;
padding-right:8px;
margin-left:0px;
margin-bottom:0px;
color:#000000;
background-position:tile;
}
  .frame240{
font-family:Microsoft Sans Serif;
font-style:normal;
padding-top:0px;
margin-right:0px;
margin-top:0px;
background-color:#FFFFFF;
left:0px;
font-size:8pt;
padding-left:0px;
position:absolute;
padding-bottom:0px;
padding-right:0px;
margin-left:0px;
margin-bottom:0px;
color:#000000;
background-position:tile;
top:0px;
}
   .frame241{
font-family:Microsoft Sans Serif;
font-style:normal;
padding-top:0px;
margin-right:0px;
margin-top:0px;
background-color:#FFFFFF;
left:0px;
font-size:8pt;
padding-left:0px;
position:absolute;
padding-bottom:0px;
padding-right:0px;
margin-left:0px;
margin-bottom:0px;
color:#000000;
background-position:tile;
top:0px;
}
   .frame243{
font-family:Microsoft Sans Serif;
font-style:normal;
padding-top:0px;
margin-right:0px;
margin-top:0px;
background-color:#FFFFFF;
left:0px;
font-size:8pt;
padding-left:0px;
position:absolute;
padding-bottom:0px;
padding-right:0px;
margin-left:0px;
margin-bottom:0px;
color:#000000;
background-position:tile;
top:0px;
}
   .placeholder96{
font-style:normal;
padding-top:0px;
margin-right:0px;
margin-top:0px;
font-family:Microsoft Sans Serif;
background-color:#FFFFFF;
left:1px;
font-size:8pt;
padding-left:0px;
position:absolute;
padding-bottom:0px;
padding-right:0px;
margin-left:0px;
margin-bottom:0px;
color:#000000;
background-position:tile;
top:4px;
}
    .frame242{
font-family:Microsoft Sans Serif;
font-style:normal;
padding-top:0px;
margin-right:0px;
margin-top:0px;
background-color:#FFFFFF;
left:759px;
font-size:8pt;
padding-left:0px;
position:absolute;
padding-bottom:0px;
padding-right:0px;
margin-left:0px;
margin-bottom:0px;
color:#000000;
background-position:tile;
top:4px;
}
   .frame244{
font-family:Microsoft Sans Serif;
font-style:normal;
padding-top:0px;
margin-right:0px;
margin-top:0px;
background-color:#FFFFFF;
left:3px;
font-size:8pt;
padding-left:0px;
position:absolute;
padding-bottom:0px;
padding-right:0px;
margin-left:0px;
margin-bottom:0px;
color:#000000;
background-position:tile;
top:3px;
}
   .frame245{
font-family:Microsoft Sans Serif;
font-style:normal;
padding-top:0px;
margin-right:0px;
margin-top:0px;
background-color:#FFFFFF;
left:0px;
font-size:8pt;
padding-left:0px;
position:absolute;
padding-bottom:0px;
padding-right:0px;
margin-left:0px;
margin-bottom:0px;
color:#000000;
background-position:tile;
top:3px;
}
   .placeholder97{
font-style:normal;
padding-top:0px;
margin-right:0px;
margin-top:0px;
font-family:Microsoft Sans Serif;
background-color:#FFFFFF;
left:6px;
font-size:8pt;
padding-left:0px;
position:absolute;
padding-bottom:0px;
padding-right:0px;
margin-left:0px;
margin-bottom:0px;
color:#000000;
background-position:tile;
top:6px;
}
    .frame246{
font-family:Microsoft Sans Serif;
font-style:normal;
padding-top:0px;
margin-right:0px;
margin-top:0px;
background-color:#FFFFFF;
left:2px;
font-size:8pt;
padding-left:0px;
position:absolute;
padding-bottom:0px;
padding-right:0px;
margin-left:0px;
margin-bottom:0px;
color:#000000;
background-position:tile;
top:84px;
}
   .placeholder98{
font-style:normal;
padding-top:0px;
margin-right:0px;
margin-top:0px;
font-family:Microsoft Sans Serif;
background-color:#FFFFFF;
left:5px;
font-size:8pt;
padding-left:0px;
position:absolute;
padding-bottom:0px;
padding-right:0px;
margin-left:0px;
margin-bottom:0px;
color:#000000;
background-position:tile;
top:6px;
}
    .frame247{
font-family:Microsoft Sans Serif;
font-style:normal;
padding-top:0px;
margin-right:0px;
margin-top:0px;
background-color:#FFFFFF;
left:205px;
font-size:8pt;
padding-left:0px;
position:absolute;
padding-bottom:0px;
padding-right:0px;
margin-left:0px;
margin-bottom:0px;
color:#000000;
background-position:tile;
top:4px;
}
   .frame248{
font-family:Microsoft Sans Serif;
font-style:normal;
padding-top:0px;
margin-right:0px;
margin-top:0px;
background-color:#FFFFFF;
left:11px;
font-size:8pt;
padding-left:0px;
position:absolute;
padding-bottom:0px;
padding-right:0px;
margin-left:0px;
margin-bottom:0px;
color:#000000;
background-position:tile;
top:13px;
}
   .label410{
font-family:Microsoft Sans Serif;
font-weight:bold;
padding-top:0px;
margin-right:0px;
margin-top:0px;
background-color:#FFFFFF;
left:183px;
font-size:14.25pt;
padding-left:0px;
position:absolute;
padding-bottom:0px;
padding-right:0px;
margin-left:0px;
margin-bottom:0px;
color:#000000;
text-align:center;
background-position:tile;
top:13px;
}
   .grid37{
font-family:Microsoft Sans Serif;
font-style:normal;
padding-top:0px;
margin-right:0px;
margin-top:0px;
background-color:#FFFFFF;
left:8px;
font-size:8.25pt;
padding-left:0px;
position:absolute;
padding-bottom:0px;
padding-right:0px;
margin-left:0px;
margin-bottom:0px;
color:#000000;
background-position:tile;
top:134px;
}
   .row156{
font-style:normal;
padding-top:0px;
margin-right:0px;
margin-top:0px;
font-family:Microsoft Sans Serif;
background-color:#FF7F50;
left:0px;
font-size:8.25pt;
padding-left:0px;
position:absolute;
padding-bottom:0px;
padding-right:0px;
margin-left:0px;
margin-bottom:0px;
color:#000000;
background-position:tile;
top:0px;
}
 .column447{
font-style:normal;
padding-top:0px;
margin-right:0px;
margin-top:0px;
font-family:Microsoft Sans Serif;
background-color:#00FFFF;
left:0px;
font-size:8.25pt;
padding-left:0px;
position:absolute;
padding-bottom:0px;
padding-right:0px;
margin-left:0px;
margin-bottom:0px;
color:#000000;
background-position:tile;
top:0px;
}
 .column449{
font-style:normal;
padding-top:0px;
margin-right:0px;
margin-top:0px;
font-family:Microsoft Sans Serif;
background-color:#00FFFF;
left:250px;
font-size:8.25pt;
padding-left:0px;
position:absolute;
padding-bottom:0px;
padding-right:0px;
margin-left:0px;
margin-bottom:0px;
color:#000000;
background-position:tile;
top:0px;
}
 .frame249{
font-family:Microsoft Sans Serif;
font-style:normal;
padding-top:0px;
margin-right:0px;
margin-top:0px;
background-color:#FFFFFF;
left:13px;
font-size:8pt;
padding-left:0px;
position:absolute;
padding-bottom:0px;
padding-right:0px;
margin-left:0px;
margin-bottom:0px;
color:#000000;
background-position:tile;
top:529px;
}
   .button255{
font-family:Microsoft Sans Serif;
font-style:normal;
padding-top:0px;
margin-right:10px;
margin-top:10px;
background-color:#FFFFFF;
font-size:8.25pt;
padding-left:0px;
position:relative;
padding-bottom:0px;
border:1;
padding-right:0px;
margin-left:10px;
margin-bottom:10px;
color:#000000;
background-position:tile;
}
   .button256{
font-family:Microsoft Sans Serif;
font-style:normal;
padding-top:0px;
margin-right:10px;
margin-top:10px;
background-color:#FFFFFF;
font-size:8.25pt;
padding-left:0px;
position:relative;
padding-bottom:0px;
border:1;
padding-right:0px;
margin-left:10px;
margin-bottom:10px;
color:#000000;
background-position:tile;
}
   .button257{
font-family:Microsoft Sans Serif;
font-style:normal;
padding-top:0px;
margin-right:10px;
margin-top:10px;
background-color:#FFFFFF;
font-size:8.25pt;
padding-left:0px;
position:relative;
padding-bottom:0px;
border:1;
padding-right:0px;
margin-left:10px;
margin-bottom:10px;
color:#000000;
background-position:tile;
}
   .button258{
font-family:Microsoft Sans Serif;
font-style:normal;
padding-top:0px;
margin-right:10px;
margin-top:10px;
background-color:#FFFFFF;
font-size:8.25pt;
padding-left:0px;
position:relative;
padding-bottom:0px;
border:1;
padding-right:0px;
margin-left:10px;
margin-bottom:10px;
color:#000000;
background-position:tile;
}
   .button268{
font-family:Microsoft Sans Serif;
font-style:normal;
padding-top:0px;
margin-right:10px;
margin-top:10px;
background-color:#FFFFFF;
font-size:8.25pt;
padding-left:0px;
position:relative;
padding-bottom:0px;
border:1;
padding-right:0px;
margin-left:10px;
margin-bottom:10px;
color:#000000;
background-position:tile;
}
   .combobox44{
font-style:normal;
padding-top:0px;
margin-right:0px;
margin-top:0px;
font-family:Microsoft Sans Serif;
background-color:#FFFFFF;
left:179px;
font-size:8.25pt;
padding-left:0px;
position:absolute;
padding-bottom:0px;
padding-right:0px;
margin-left:0px;
margin-bottom:0px;
color:#000000;
background-position:tile;
top:99px;
}
   .button265{
font-family:Microsoft Sans Serif;
font-style:normal;
padding-top:0px;
margin-right:0px;
margin-top:0px;
background-color:#FFFFFF;
left:16px;
font-size:8.25pt;
padding-left:0px;
position:absolute;
padding-bottom:0px;
border:1;
padding-right:0px;
margin-left:0px;
margin-bottom:0px;
color:#000000;
background-position:tile;
top:96px;
}
   .label390{
font-family:Microsoft Sans Serif;
font-weight:bold;
padding-top:0px;
margin-right:0px;
margin-top:0px;
background-color:#FFFFFF;
left:116px;
font-size:10.25pt;
padding-left:0px;
position:absolute;
padding-bottom:0px;
padding-right:0px;
margin-left:0px;
margin-bottom:0px;
color:#000000;
text-align:left;
background-position:tile;
top:99px;
}
  
