 .listOfAvailableWorkflow{
font-family:Microsoft Sans Serif;
font-style:normal;
padding-top:8px;
margin-right:0px;
margin-top:0px;
background-color:#FFFFFF;
font-size:8pt;
padding-left:8px;
position:absolute;
padding-bottom:8px;
padding-right:8px;
margin-left:0px;
margin-bottom:0px;
color:#000000;
background-position:tile;
}
  .frame2591{
font-family:Microsoft Sans Serif;
font-style:normal;
padding-top:0px;
margin-right:0px;
margin-top:0px;
background-color:#FFFFFF;
left:0px;
font-size:8pt;
padding-left:0px;
position:absolute;
padding-bottom:0px;
padding-right:0px;
margin-left:0px;
margin-bottom:0px;
color:#000000;
background-position:tile;
top:0px;
}
   .frame2592{
font-family:Microsoft Sans Serif;
font-style:normal;
padding-top:0px;
margin-right:0px;
margin-top:0px;
background-color:#FFFFFF;
font-size:8pt;
padding-left:0px;
position:relative;
padding-bottom:0px;
padding-right:0px;
margin-left:0px;
margin-bottom:0px;
color:#000000;
background-position:tile;
}
   .placeholder77{
font-style:normal;
padding-top:0px;
margin-right:0px;
margin-top:0px;
font-family:Microsoft Sans Serif;
background-color:#FFFFFF;
left:0px;
font-size:8pt;
padding-left:0px;
position:absolute;
padding-bottom:0px;
padding-right:0px;
margin-left:0px;
margin-bottom:0px;
color:#000000;
background-position:tile;
top:0px;
}
    .frame2593{
font-family:Microsoft Sans Serif;
font-style:normal;
padding-top:0px;
margin-right:0px;
margin-top:0px;
background-color:#FFFFFF;
left:176px;
font-size:8pt;
padding-left:0px;
position:absolute;
padding-bottom:0px;
padding-right:0px;
margin-left:0px;
margin-bottom:0px;
color:#000000;
background-position:tile;
top:0px;
}
   .grid31{
font-family:Microsoft Sans Serif;
font-style:normal;
padding-top:0px;
margin-right:0px;
margin-top:0px;
background-color:#FFFFFF;
left:132px;
font-size:8.25pt;
padding-left:0px;
position:absolute;
padding-bottom:0px;
padding-right:0px;
margin-left:0px;
margin-bottom:0px;
color:#000000;
background-position:tile;
top:40px;
}
   .label369{
font-family:Microsoft Sans Serif;
font-weight:bold;
padding-top:0px;
margin-right:0px;
margin-top:0px;
background-color:#FFFFFF;
left:165px;
font-size:11.25pt;
padding-left:0px;
position:absolute;
padding-bottom:0px;
padding-right:0px;
margin-left:0px;
margin-bottom:0px;
color:#000000;
text-align:left;
background-position:tile;
top:0px;
}
   .paging4{
font-style:normal;
padding-top:0px;
margin-right:0px;
margin-top:0px;
font-family:Microsoft Sans Serif;
background-color:#FFFFFF;
left:132px;
font-size:8.25pt;
padding-left:0px;
position:absolute;
padding-bottom:0px;
padding-right:0px;
margin-left:0px;
margin-bottom:0px;
color:#000000;
background-position:tile;
top:489px;
}
   .frame216{
font-family:Microsoft Sans Serif;
font-style:normal;
padding-top:0px;
margin-right:0px;
margin-top:0px;
background-color:#FFFFFF;
left:6px;
font-size:8pt;
padding-left:0px;
position:absolute;
padding-bottom:0px;
padding-right:0px;
margin-left:0px;
margin-bottom:0px;
color:#000000;
background-position:tile;
top:539px;
}
   .button236{
font-family:Microsoft Sans Serif;
font-weight:bold;
padding-top:0px;
margin-right:10px;
margin-top:10px;
background-color:#FFFFFF;
font-size:9pt;
padding-left:0px;
position:relative;
padding-bottom:0px;
border:1;
padding-right:0px;
margin-left:10px;
margin-bottom:10px;
color:#316AC5;
background-position:tile;
}
   .button233{
font-family:Microsoft Sans Serif;
font-weight:bold;
padding-top:0px;
margin-right:10px;
margin-top:10px;
background-color:#FFFFFF;
font-size:9pt;
padding-left:0px;
position:relative;
padding-bottom:0px;
border:1;
padding-right:0px;
margin-left:10px;
margin-bottom:10px;
color:#316AC5;
background-position:tile;
}
   .button232{
font-family:Microsoft Sans Serif;
font-weight:bold;
padding-top:0px;
margin-right:10px;
margin-top:10px;
background-color:#FFFFFF;
font-size:9pt;
padding-left:0px;
position:relative;
padding-bottom:0px;
border:1;
padding-right:0px;
margin-left:10px;
margin-bottom:10px;
color:#316AC5;
background-position:tile;
}
   .button231{
font-family:Microsoft Sans Serif;
font-weight:bold;
padding-top:0px;
margin-right:10px;
margin-top:10px;
background-color:#FFFFFF;
font-size:9pt;
padding-left:0px;
position:relative;
padding-bottom:0px;
border:1;
padding-right:0px;
margin-left:10px;
margin-bottom:10px;
color:#316AC5;
background-position:tile;
}
   .button248{
font-family:Microsoft Sans Serif;
font-weight:bold;
padding-top:0px;
margin-right:10px;
margin-top:10px;
background-color:#FFFFFF;
font-size:8.25pt;
padding-left:0px;
position:relative;
padding-bottom:0px;
border:1;
padding-right:0px;
margin-left:10px;
margin-bottom:10px;
color:#316AC5;
background-position:tile;
}
   .button238{
font-family:Microsoft Sans Serif;
font-weight:bold;
padding-top:0px;
margin-right:10px;
margin-top:10px;
background-color:#FFFFFF;
font-size:8.25pt;
padding-left:0px;
position:relative;
padding-bottom:0px;
border:1;
padding-right:0px;
margin-left:10px;
margin-bottom:10px;
color:#316AC5;
background-position:tile;
}
   .button269{
font-family:Microsoft Sans Serif;
font-weight:bold;
padding-top:0px;
margin-right:10px;
margin-top:10px;
background-color:#FFFFFF;
font-size:8.25pt;
padding-left:0px;
position:relative;
padding-bottom:0px;
border:1;
padding-right:0px;
margin-left:10px;
margin-bottom:10px;
color:#316AC5;
background-position:tile;
}
   .button224{
font-family:Microsoft Sans Serif;
font-weight:bold;
padding-top:0px;
margin-right:10px;
margin-top:10px;
background-color:#FFFFFF;
font-size:8.25pt;
padding-left:0px;
position:relative;
padding-bottom:0px;
border:1;
padding-right:0px;
margin-left:10px;
margin-bottom:10px;
color:#316AC5;
background-position:tile;
}
   .frame2594{
font-family:Microsoft Sans Serif;
font-style:normal;
padding-top:0px;
margin-right:0px;
margin-top:0px;
background-color:#FFFFFF;
left:750px;
font-size:8pt;
padding-left:0px;
position:absolute;
padding-bottom:0px;
padding-right:0px;
margin-left:5px;
margin-bottom:0px;
color:#000000;
background-position:tile;
top:0px;
}
   .frame2595{
font-family:Microsoft Sans Serif;
font-style:normal;
padding-top:0px;
margin-right:0px;
margin-top:0px;
background-color:#FFFFFF;
font-size:8pt;
padding-left:0px;
position:relative;
padding-bottom:0px;
padding-right:0px;
margin-left:5px;
margin-bottom:0px;
color:#000000;
background-position:tile;
}
   .placeholder78{
font-style:normal;
padding-top:0px;
margin-right:0px;
margin-top:0px;
font-family:Microsoft Sans Serif;
background-color:#FFFFFF;
font-size:8pt;
padding-left:0px;
position:relative;
padding-bottom:0px;
padding-right:0px;
margin-left:0px;
margin-bottom:0px;
color:#000000;
background-position:tile;
}
    .placeholder79{
font-style:normal;
padding-top:0px;
margin-right:0px;
margin-top:0px;
font-family:Microsoft Sans Serif;
background-color:#FFFFFF;
font-size:8pt;
padding-left:0px;
position:relative;
padding-bottom:0px;
padding-right:0px;
margin-left:0px;
margin-bottom:0px;
color:#000000;
background-position:tile;
}
    .button2595{
font-family:Microsoft Sans Serif;
font-weight:bold;
padding-top:0px;
margin-right:0px;
margin-top:0px;
background-color:#FFFFFF;
left:0px;
font-size:8.25pt;
padding-left:0px;
position:absolute;
padding-bottom:0px;
border:1;
padding-right:0px;
margin-left:0px;
margin-bottom:0px;
color:#316AC5;
background-position:tile;
top:730px;
}
  
