 .StudyInfo{
font-family:Microsoft Sans Serif;
font-style:normal;
padding-top:0px;
margin-right:0px;
margin-top:0px;
background-color:#FFFFFF;
font-size:8pt;
padding-left:0px;
position:absolute;
padding-bottom:0px;
padding-right:0px;
margin-left:0px;
margin-bottom:0px;
color:#000000;
background-position:tile;
}
  .frame53{
font-family:Microsoft Sans Serif;
font-style:normal;
padding-top:0px;
margin-right:0px;
margin-top:0px;
background-color:#D8E4F8;
left:0px;
font-size:8pt;
padding-left:0px;
position:absolute;
padding-bottom:0px;
padding-right:0px;
margin-left:0px;
margin-bottom:0px;
color:#000000;
background-position:tile;
top:85px;
}
   .grid34{
font-family:Microsoft Sans Serif;
font-style:normal;
padding-top:0px;
margin-right:3px;
margin-top:3px;
background-color:#FFFFFF;
left:7px;
font-size:8.25pt;
padding-left:0px;
position:absolute;
padding-bottom:0px;
padding-right:0px;
margin-left:3px;
margin-bottom:3px;
color:#000000;
background-position:tile;
top:4px;
}
   .row160{
font-style:normal;
padding-top:0px;
margin-right:3px;
margin-top:3px;
font-family:Microsoft Sans Serif;
background-color:#9DB9EB;
left:0px;
font-size:8.25pt;
padding-left:0px;
position:absolute;
padding-bottom:0px;
padding-right:0px;
margin-left:3px;
margin-bottom:3px;
color:#000000;
background-position:tile;
top:0px;
}
 .column133{
font-style:normal;
padding-top:0px;
margin-right:3px;
margin-top:3px;
font-family:Microsoft Sans Serif;
background-color:#9DB9EB;
left:0px;
font-size:8.25pt;
padding-left:0px;
position:absolute;
padding-bottom:0px;
padding-right:0px;
margin-left:3px;
margin-bottom:3px;
color:#000000;
background-position:tile;
top:0px;
}
 .column203{
font-style:normal;
padding-top:0px;
margin-right:3px;
margin-top:3px;
font-family:Microsoft Sans Serif;
background-color:#9DB9EB;
left:74px;
font-size:8.25pt;
padding-left:0px;
position:absolute;
padding-bottom:0px;
padding-right:0px;
margin-left:3px;
margin-bottom:3px;
color:#000000;
background-position:tile;
top:0px;
}
 .column24{
font-style:normal;
padding-top:0px;
margin-right:3px;
margin-top:3px;
font-family:Microsoft Sans Serif;
background-color:#9DB9EB;
left:136px;
font-size:8.25pt;
padding-left:0px;
position:absolute;
padding-bottom:0px;
padding-right:0px;
margin-left:3px;
margin-bottom:3px;
color:#000000;
background-position:tile;
top:0px;
}
 .column51{
font-style:normal;
padding-top:0px;
margin-right:3px;
margin-top:3px;
font-family:Microsoft Sans Serif;
background-color:#9DB9EB;
left:221px;
font-size:8.25pt;
padding-left:0px;
position:absolute;
padding-bottom:0px;
padding-right:0px;
margin-left:3px;
margin-bottom:3px;
color:#000000;
background-position:tile;
top:0px;
}
 .column53{
font-style:normal;
padding-top:0px;
margin-right:3px;
margin-top:3px;
font-family:Microsoft Sans Serif;
background-color:#9DB9EB;
left:312px;
font-size:8.25pt;
padding-left:0px;
position:absolute;
padding-bottom:0px;
padding-right:0px;
margin-left:3px;
margin-bottom:3px;
color:#000000;
background-position:tile;
top:0px;
}
 .column54{
font-style:normal;
padding-top:0px;
margin-right:3px;
margin-top:3px;
font-family:Microsoft Sans Serif;
background-color:#9DB9EB;
left:395px;
font-size:8.25pt;
padding-left:0px;
position:absolute;
padding-bottom:0px;
padding-right:0px;
margin-left:3px;
margin-bottom:3px;
color:#000000;
background-position:tile;
top:0px;
}
 .column83{
font-style:normal;
padding-top:0px;
margin-right:3px;
margin-top:3px;
font-family:Microsoft Sans Serif;
background-color:#9DB9EB;
left:499px;
font-size:8.25pt;
padding-left:0px;
position:absolute;
padding-bottom:0px;
padding-right:0px;
margin-left:3px;
margin-bottom:3px;
color:#000000;
background-position:tile;
top:0px;
}
 .column84{
font-style:normal;
padding-top:0px;
margin-right:3px;
margin-top:3px;
font-family:Microsoft Sans Serif;
background-color:#00FFFF;
left:537px;
font-size:8.25pt;
padding-left:0px;
position:absolute;
padding-bottom:0px;
padding-right:0px;
margin-left:3px;
margin-bottom:3px;
color:#000000;
background-position:tile;
top:0px;
}
 .grid35{
font-family:Microsoft Sans Serif;
font-style:normal;
padding-top:0px;
margin-right:3px;
margin-top:3px;
background-color:#FFFFFF;
left:7px;
font-size:8.25pt;
padding-left:0px;
position:absolute;
padding-bottom:0px;
padding-right:0px;
margin-left:3px;
margin-bottom:3px;
color:#000000;
background-position:tile;
top:151px;
}
   .row162{
font-style:normal;
padding-top:0px;
margin-right:3px;
margin-top:3px;
font-family:Microsoft Sans Serif;
background-color:#9DB9EB;
left:0px;
font-size:8.25pt;
padding-left:0px;
position:absolute;
padding-bottom:0px;
padding-right:0px;
margin-left:3px;
margin-bottom:3px;
color:#000000;
background-position:tile;
top:0px;
}
 .column145{
font-style:normal;
padding-top:0px;
margin-right:3px;
margin-top:3px;
font-family:Microsoft Sans Serif;
background-color:#9DB9EB;
left:0px;
font-size:8.25pt;
padding-left:0px;
position:absolute;
padding-bottom:0px;
padding-right:0px;
margin-left:3px;
margin-bottom:3px;
color:#000000;
background-position:tile;
top:0px;
}
 .column146{
font-style:normal;
padding-top:0px;
margin-right:3px;
margin-top:3px;
font-family:Microsoft Sans Serif;
background-color:#9DB9EB;
left:110px;
font-size:8.25pt;
padding-left:0px;
position:absolute;
padding-bottom:0px;
padding-right:0px;
margin-left:3px;
margin-bottom:3px;
color:#000000;
background-position:tile;
top:0px;
}
 .column147{
font-style:normal;
padding-top:0px;
margin-right:3px;
margin-top:3px;
font-family:Microsoft Sans Serif;
background-color:#00FFFF;
left:199px;
font-size:8.25pt;
padding-left:0px;
position:absolute;
padding-bottom:0px;
padding-right:0px;
margin-left:3px;
margin-bottom:3px;
color:#000000;
background-position:tile;
top:0px;
}
 .grid36{
font-family:Microsoft Sans Serif;
font-style:normal;
padding-top:0px;
margin-right:3px;
margin-top:3px;
background-color:#FFFFFF;
left:6px;
font-size:8.25pt;
padding-left:0px;
position:absolute;
padding-bottom:0px;
padding-right:0px;
margin-left:3px;
margin-bottom:3px;
color:#000000;
background-position:tile;
top:289px;
}
   .row163{
font-style:normal;
padding-top:0px;
margin-right:3px;
margin-top:3px;
font-family:Microsoft Sans Serif;
background-color:#9DB9EB;
left:0px;
font-size:8.25pt;
padding-left:0px;
position:absolute;
padding-bottom:0px;
padding-right:0px;
margin-left:3px;
margin-bottom:3px;
color:#000000;
background-position:tile;
top:0px;
}
 .column214{
font-style:normal;
padding-top:0px;
margin-right:3px;
margin-top:3px;
font-family:Microsoft Sans Serif;
background-color:#9DB9EB;
left:0px;
font-size:8.25pt;
padding-left:0px;
position:absolute;
padding-bottom:0px;
padding-right:0px;
margin-left:3px;
margin-bottom:3px;
color:#000000;
background-position:tile;
top:0px;
}
 .column215{
font-style:normal;
padding-top:0px;
margin-right:3px;
margin-top:3px;
font-family:Microsoft Sans Serif;
background-color:#9DB9EB;
left:99px;
font-size:8.25pt;
padding-left:0px;
position:absolute;
padding-bottom:0px;
padding-right:0px;
margin-left:3px;
margin-bottom:3px;
color:#000000;
background-position:tile;
top:0px;
}
 .column216{
font-style:normal;
padding-top:0px;
margin-right:3px;
margin-top:3px;
font-family:Microsoft Sans Serif;
background-color:#9DB9EB;
left:198px;
font-size:8.25pt;
padding-left:0px;
position:absolute;
padding-bottom:0px;
padding-right:0px;
margin-left:3px;
margin-bottom:3px;
color:#000000;
background-position:tile;
top:0px;
}
 .frame54{
font-family:Microsoft Sans Serif;
font-style:normal;
padding-top:0px;
margin-right:0px;
margin-top:0px;
background-color:#D8E4F8;
left:0px;
font-size:8pt;
padding-left:0px;
position:absolute;
padding-bottom:0px;
padding-right:0px;
margin-left:0px;
margin-bottom:0px;
color:#000000;
background-position:tile;
top:599px;
}
   .grid37{
font-family:Microsoft Sans Serif;
font-style:normal;
padding-top:0px;
margin-right:3px;
margin-top:3px;
background-color:#FFFFFF;
left:2px;
font-size:8.25pt;
padding-left:0px;
position:absolute;
padding-bottom:0px;
padding-right:0px;
margin-left:3px;
margin-bottom:3px;
color:#000000;
background-position:tile;
top:3px;
}
   .row385{
font-style:normal;
padding-top:0px;
margin-right:3px;
margin-top:3px;
font-family:Microsoft Sans Serif;
background-color:#9DB9EB;
left:0px;
font-size:8.25pt;
padding-left:0px;
position:absolute;
padding-bottom:0px;
padding-right:0px;
margin-left:3px;
margin-bottom:3px;
color:#000000;
background-position:tile;
top:0px;
}
 .column397{
font-style:normal;
padding-top:0px;
margin-right:3px;
margin-top:3px;
font-family:Microsoft Sans Serif;
background-color:#9DB9EB;
left:0px;
font-size:8.25pt;
padding-left:0px;
position:absolute;
padding-bottom:0px;
padding-right:0px;
margin-left:3px;
margin-bottom:3px;
color:#000000;
background-position:tile;
top:0px;
}
 .column398{
font-style:normal;
padding-top:0px;
margin-right:3px;
margin-top:3px;
font-family:Microsoft Sans Serif;
background-color:#9DB9EB;
left:74px;
font-size:8.25pt;
padding-left:0px;
position:absolute;
padding-bottom:0px;
padding-right:0px;
margin-left:3px;
margin-bottom:3px;
color:#000000;
background-position:tile;
top:0px;
}
 .column399{
font-style:normal;
padding-top:0px;
margin-right:3px;
margin-top:3px;
font-family:Microsoft Sans Serif;
background-color:#9DB9EB;
left:139px;
font-size:8.25pt;
padding-left:0px;
position:absolute;
padding-bottom:0px;
padding-right:0px;
margin-left:3px;
margin-bottom:3px;
color:#000000;
background-position:tile;
top:0px;
}
 .column400{
font-style:normal;
padding-top:0px;
margin-right:3px;
margin-top:3px;
font-family:Microsoft Sans Serif;
background-color:#9DB9EB;
left:225px;
font-size:8.25pt;
padding-left:0px;
position:absolute;
padding-bottom:0px;
padding-right:0px;
margin-left:3px;
margin-bottom:3px;
color:#000000;
background-position:tile;
top:0px;
}
 .column401{
font-style:normal;
padding-top:0px;
margin-right:3px;
margin-top:3px;
font-family:Microsoft Sans Serif;
background-color:#9DB9EB;
left:316px;
font-size:8.25pt;
padding-left:0px;
position:absolute;
padding-bottom:0px;
padding-right:0px;
margin-left:3px;
margin-bottom:3px;
color:#000000;
background-position:tile;
top:0px;
}
 .column402{
font-style:normal;
padding-top:0px;
margin-right:3px;
margin-top:3px;
font-family:Microsoft Sans Serif;
background-color:#9DB9EB;
left:401px;
font-size:8.25pt;
padding-left:0px;
position:absolute;
padding-bottom:0px;
padding-right:0px;
margin-left:3px;
margin-bottom:3px;
color:#000000;
background-position:tile;
top:0px;
}
 .column403{
font-style:normal;
padding-top:0px;
margin-right:3px;
margin-top:3px;
font-family:Microsoft Sans Serif;
background-color:#9DB9EB;
left:506px;
font-size:8.25pt;
padding-left:0px;
position:absolute;
padding-bottom:0px;
padding-right:0px;
margin-left:3px;
margin-bottom:3px;
color:#000000;
background-position:tile;
top:0px;
}
 .column404{
font-style:normal;
padding-top:0px;
margin-right:3px;
margin-top:3px;
font-family:Microsoft Sans Serif;
background-color:#00FFFF;
left:544px;
font-size:8.25pt;
padding-left:0px;
position:absolute;
padding-bottom:0px;
padding-right:0px;
margin-left:3px;
margin-bottom:3px;
color:#000000;
background-position:tile;
top:0px;
}
 .grid38{
font-family:Microsoft Sans Serif;
font-style:normal;
padding-top:0px;
margin-right:3px;
margin-top:3px;
background-color:#FFFFFF;
left:2px;
font-size:8.25pt;
padding-left:0px;
position:absolute;
padding-bottom:0px;
padding-right:0px;
margin-left:3px;
margin-bottom:3px;
color:#000000;
background-position:tile;
top:147px;
}
   .row386{
font-style:normal;
padding-top:0px;
margin-right:3px;
margin-top:3px;
font-family:Microsoft Sans Serif;
background-color:#9DB9EB;
left:0px;
font-size:8.25pt;
padding-left:0px;
position:absolute;
padding-bottom:0px;
padding-right:0px;
margin-left:3px;
margin-bottom:3px;
color:#000000;
background-position:tile;
top:0px;
}
 .column405{
font-style:normal;
padding-top:0px;
margin-right:3px;
margin-top:3px;
font-family:Microsoft Sans Serif;
background-color:#9DB9EB;
left:0px;
font-size:8.25pt;
padding-left:0px;
position:absolute;
padding-bottom:0px;
padding-right:0px;
margin-left:3px;
margin-bottom:3px;
color:#000000;
background-position:tile;
top:0px;
}
 .column406{
font-style:normal;
padding-top:0px;
margin-right:3px;
margin-top:3px;
font-family:Microsoft Sans Serif;
background-color:#9DB9EB;
left:110px;
font-size:8.25pt;
padding-left:0px;
position:absolute;
padding-bottom:0px;
padding-right:0px;
margin-left:3px;
margin-bottom:3px;
color:#000000;
background-position:tile;
top:0px;
}
 .column407{
font-style:normal;
padding-top:0px;
margin-right:3px;
margin-top:3px;
font-family:Microsoft Sans Serif;
background-color:#9DB9EB;
left:210px;
font-size:8.25pt;
padding-left:0px;
position:absolute;
padding-bottom:0px;
padding-right:0px;
margin-left:3px;
margin-bottom:3px;
color:#000000;
background-position:tile;
top:0px;
}
 .grid39{
font-family:Microsoft Sans Serif;
font-style:normal;
padding-top:0px;
margin-right:3px;
margin-top:3px;
background-color:#FFFFFF;
left:6px;
font-size:8.25pt;
padding-left:0px;
position:absolute;
padding-bottom:0px;
padding-right:0px;
margin-left:3px;
margin-bottom:3px;
color:#000000;
background-position:tile;
top:283px;
}
   .row387{
font-style:normal;
padding-top:0px;
margin-right:3px;
margin-top:3px;
font-family:Microsoft Sans Serif;
background-color:#9DB9EB;
left:0px;
font-size:8.25pt;
padding-left:0px;
position:absolute;
padding-bottom:0px;
padding-right:0px;
margin-left:3px;
margin-bottom:3px;
color:#000000;
background-position:tile;
top:0px;
}
 .column408{
font-style:normal;
padding-top:0px;
margin-right:3px;
margin-top:3px;
font-family:Microsoft Sans Serif;
background-color:#9DB9EB;
left:0px;
font-size:8.25pt;
padding-left:0px;
position:absolute;
padding-bottom:0px;
padding-right:0px;
margin-left:3px;
margin-bottom:3px;
color:#000000;
background-position:tile;
top:0px;
}
 .column409{
font-style:normal;
padding-top:0px;
margin-right:3px;
margin-top:3px;
font-family:Microsoft Sans Serif;
background-color:#9DB9EB;
left:110px;
font-size:8.25pt;
padding-left:0px;
position:absolute;
padding-bottom:0px;
padding-right:0px;
margin-left:3px;
margin-bottom:3px;
color:#000000;
background-position:tile;
top:0px;
}
 .column410{
font-style:normal;
padding-top:0px;
margin-right:3px;
margin-top:3px;
font-family:Microsoft Sans Serif;
background-color:#00FFFF;
left:210px;
font-size:8.25pt;
padding-left:0px;
position:absolute;
padding-bottom:0px;
padding-right:0px;
margin-left:3px;
margin-bottom:3px;
color:#000000;
background-position:tile;
top:0px;
}
 .label163{
font-family:Microsoft Sans Serif;
font-style:normal;
padding-top:0px;
margin-right:0px;
margin-top:0px;
background-color:#FFDEAD;
left:1px;
font-size:8.25pt;
padding-left:0px;
position:absolute;
padding-bottom:0px;
padding-right:0px;
margin-left:0px;
margin-bottom:0px;
color:#000000;
text-align:left;
background-position:tile;
top:57px;
}
   .label164{
font-family:Microsoft Sans Serif;
font-style:normal;
padding-top:0px;
margin-right:0px;
margin-top:0px;
background-color:#FAEBD7;
left:183px;
font-size:8.25pt;
padding-left:0px;
position:absolute;
padding-bottom:0px;
padding-right:0px;
margin-left:0px;
margin-bottom:0px;
color:#000000;
text-align:left;
background-position:tile;
top:57px;
}
   .label223{
font-family:Microsoft Sans Serif;
font-style:normal;
padding-top:0px;
margin-right:0px;
margin-top:0px;
background-color:#FFDEAD;
left:0px;
font-size:8.25pt;
padding-left:0px;
position:absolute;
padding-bottom:0px;
padding-right:0px;
margin-left:0px;
margin-bottom:0px;
color:#000000;
text-align:left;
background-position:tile;
top:567px;
}
   .label224{
font-family:Microsoft Sans Serif;
font-style:normal;
padding-top:0px;
margin-right:0px;
margin-top:0px;
background-color:#FAEBD7;
left:179px;
font-size:8.25pt;
padding-left:0px;
position:absolute;
padding-bottom:0px;
padding-right:0px;
margin-left:0px;
margin-bottom:0px;
color:#000000;
text-align:left;
background-position:tile;
top:567px;
}
  
