<configuration>
  <!-- Define custom configuration sections -->
  <configSections>
    <!-- Configuration section declarations for the EIBDesigner -->
  <sectionGroup name="EIBDesigner">
    <!-- DragDrop configuration -->
    <sectionGroup name="DragDrop">
      <!-- DataFormat mappings -->
      <section name="DataFormats" 
      type="System.Configuration.NameValueSectionHandler" />
      <section name="DataFormatParents"
      type="System.Configuration.NameValueSectionHandler" />
    </sectionGroup>
  </sectionGroup>
    <sectionGroup name="Internal">
      <sectionGroup name="Controls">
        <section name="Name" type="System.Configuration.NameValueSectionHandler"/>
        <section name="Attribute" type="System.Configuration.NameValueSectionHandler"/>
        <section name="EventName" type="System.Configuration.NameValueSectionHandler"/>
        
      </sectionGroup>
      
    </sectionGroup>
</configSections>

<!-- EIBDesigner configuration -->
  <EIBDesigner>
    <DragDrop>
      <!-- 
				DataFormats take the form: 
				<add key="[Fully qualified type]" value="[new data format]"/>
			-->
      <DataFormats>
        <add key="System.Windows.Forms.Button" value="BUTTON"/>
        <add key="EIBFormDesigner.Controls.EIBButton" value="EIB_BUTTON"/>

      </DataFormats>
      <!-- 
				DataFormatParents take the form:
				<add key="[Fully qualified type]" value="[DataFormats value from above "," seperated]"/>
			-->
      <DataFormatParents>
        <add key="System.Windows.Forms.Panel" value="EIB_BUTTON,BUTTON"/>
        <add key="EIBFormDesigner.Controls.EIBPanel" value="EIB_BUTTON,BUTTON"/>
        <add key="EIBFormDesigner.Controls.EIBRadioGroup" value="EIB_BUTTON,BUTTON"/>
        <add key="EIBFormDesigner.Controls.EIBMenuBar" value="EIB_BUTTON,BUTTON"/>
        <add key="EIBFormDesigner.Controls.EIBVMenuBar" value="EIB_BUTTON,BUTTON"/>
        <add key="EIBFormDesigner.Controls.EIBTreeView" value="EIB_BUTTON,BUTTON"/>
        <add key="EIBFormDesigner.Controls.EIBTabControl" value="EIB_BUTTON,BUTTON"/>
		    <add key="EIBFormDesigner.Controls.EIBTabPage" value="EIB_BUTTON,BUTTON"/>
        <add key="EIBFormDesigner.Controls.EIBGrid" value="EIB_BUTTON,BUTTON"/>
        <add key="EIBFormDesigner.Controls.EIBRow" value="EIB_BUTTON,BUTTON"/>
        <add key="EIBFormDesigner.Controls.EIBColumn" value="EIB_BUTTON,BUTTON"/>
        <add key="EIBFormDesigner.Controls.EIBPlaceHolder" value="EIB_BUTTON,BUTTON"/>
      </DataFormatParents>
    </DragDrop>
  </EIBDesigner>
  <Internal>
    <Controls>
      <Name>
        <add key="EIBFormDesigner.Designer.BaseWindow" value="BaseWindow"></add>
      </Name>
      <Attribute>
        <add key ="VisibleTo" value ="CheckVisibleToValue"></add> 
      </Attribute>
      <EventName>
        <add key="DefaultValue" value="makeVisible"></add>
      </EventName>  
    </Controls>
  </Internal>
</configuration>
